// Anixart API methods test environment

export const token = "" // Anixart user token
export const email = "" // Anixart user email
export const login = "" // Anixart user login
export const password = "" // Anixart user password
export const vkToken = "" // VK user token (by Anixart VK app id)
export const googleToken = "" // Google token (don't know how it get)
export const versionCode = 0 // Anixart version code
